<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/summernote.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/summernote.js}"></script>

</head>
<body>
<h2>hello world</h2>
<h3 th:text="${someAttr}"></h3>
<button id="getContent" class="btn">click it</button>
<div class="ibox-content no-padding">
	<div id="summernote" class="summernote" th:text="${someAttr}"></div>
</div>
</body>
</html>
  <script>
    $(document).ready(function() {
        $('#summernote').summernote();
        $(document).on("click","#getContent",function(){
        	var markupStr = $('#summernote').summernote('code');
        	console.log(markupStr);
        });
    });
  </script>